<style>
  .fa-earth-americas{
    font-size: 30px;
  }
  .search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    opacity: 0.9;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: white;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
  .add:hover{
    background-color: #e7e0e0;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-earth-americas text-danger"></i></a><span><a
        href="/listings" class="text-decoration-none text-dark"><strong>NestAway</strong></a></span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      </div>

      <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2 search-input" type="search" placeholder="Search destinations" />
        <button class="bg-danger btn search-btn" type="submit"><i
            class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>

      <div class="navbar-nav ms-auto text-center">
        <a class="nav-link border rounded-pill shadow-sm add" href="/listings/new">Add your NestAway</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b class="text-danger">Sign up</b></a>
          <a class="nav-link" href="/login"><b class="text-danger">Log in</b></a>
          <%}%>
            <% if(currUser) { %>
              <a class="nav-link" href="/logout"><b class="text-danger">Log out</b></a>
              <%}%>
      </div>
    </div>
  </div>
</nav>
